*{
    margin: 0;
    padding: 0;
    outline: 0;
}
/********* banner section **********/
section#banner{
    height: 590px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    background: url("images/Banner-bg.jpg") no-repeat;
    background-position: center center;
}
#filter{
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(25, 32, 39, 0.8);
}
#botfilter{
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 530px;
    background-color: #EEF0F2;
}
.wrapper{
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}
#filter h1{
    margin-left: 225px;
    padding-top: 10px;
    font-weight: bolder;
    font-size: 28px;
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
#filter nav{
    float: right;
    margin-right: 230px;
    margin-top: -25px;
}
#filter nav a{
    text-decoration: none;
    color: rgb(255, 255, 255, 0.9);
    text-transform: capitalize;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 27px;
    padding-left: 27px;
    padding-top: 16px;
    padding-bottom: 13px;
}
#filter nav a:hover{
    background-color: #345070;
    border-bottom: thick solid #F68B01;
}
#banner .wrapper{
    margin-top: -450px;
}
.wrapper #head{
    display: flex;
    justify-content:space-between;
}
#head aside{
    width: 280px;
    margin-top: 65px;
    box-sizing: border-box;
}
aside>h1{
    color: #fff;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 33px;
}
aside h2{
    color:#FF9000 ;
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
aside p{
    color: #F2F5F5;
    text-align: justify;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
    margin-bottom: 35px;
}
aside a{
    text-transform: uppercase;
    text-decoration: none;
    color: #F2F5F5;
    background-color: #44627B;
    border: thin solid #91A4B4;
    padding: 12px;
}
#head figure{
    width: 600px;
    height: 415px;
    background: url("images/img1.jpg") no-repeat;
    display: flex;
    flex-direction:column-reverse;
}
#subbanner figcaption{
    background-color: rgba(23, 33, 44, 0.7);
    display: flex;
    justify-content: space-between; 
}
#subbanner #right{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
}
#subbanner #right h4{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#subbanner #right p{
    text-transform: capitalize;
    color:#FF9000 ;
    display: flex;
    flex-direction: row-reverse;
}
#subbanner #interactive{
    padding-left: 20px;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
}
/********* about us section ***********/
section#about{
    margin-left: auto;
    margin-right: auto;
}
#about h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
    opacity: 0.9;
    font-family:Arial, Helvetica, sans-serif;
}
#about .wrapper>p{
    color: #B6ACBB;
    text-align: center;
    margin: 17px 15px 20px;
}
hr{
    width: 200px;
    height: 2px;
    margin-left: 360px;
    border: none;
    background-color: #F68B01;
}
#about table td{
    border: 1px solid #D5D5D5;
    padding-top: 10px;
    padding-bottom: 10px; 
}
#about table{
    border-collapse: collapse;
    margin-top: 80px;
    margin-left: 270px;
}
#about a{
    text-decoration: none;
    color: #B6ACBB;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#about a:hover{
    background-color: #F68B01;
    color: #fff;
}
#offers{
    display: flex;
    justify-content:space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
#offers img{
   transform: translate(-40px,40px);
   border: 5px solid #fff;
   outline: thin solid #ccc;
}
#sidephoto{
    width: 378px;
    height: 222px;
    background-image: url("images/img2.jpg");
    border: 5px solid #fff;
    outline: thin solid #ccc;
}
#offers figcaption{
    width: 410px;
    display: flex;
    flex-direction: column;
}
#offers figcaption h3{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 23px;
}
#offers figcaption h4{
    color: #F68B01;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 25px;
}
#offers figcaption p{
    color: #B6ACBB;
    margin-bottom: 25px;
}
/****** service section *********/
#service{
    margin-left: auto;
    margin-right: auto;
    background: url("images/Services-bg.jpg") no-repeat;
}
#service h1{
    text-align: center;
    padding-top: 100px;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}
#service p{
    color: #fff;
    opacity: 0.9;
    text-align: center;
    margin: 20px 15px 25px;
}
#service .wrapper:last-of-type{
    display: flex;
    justify-content: space-between;
}
#service article{
    width: 180px;
    height: 284px;
    margin-top: 60px;
    margin-bottom: 90px;
}
#service article p{
    text-transform: uppercase;
    margin-top: 185px;
    text-align: center;
}
#card1{
    background: url("images/Development-cn.png") no-repeat 28px 50px,
    url("images/Development-bg.jpg") no-repeat;
}
#card1:hover{
    background: url("images/Develop-hover-icn.png") no-repeat 28px 50px,
    url("images/Development-bg.jpg") no-repeat;
}
#card2{
    background: url("images/desgin-icn.png") no-repeat 28px 50px,
    url("images/desgin-bg.jpg") no-repeat; 
}
#card2:hover{
    background: url("images/desgin-hover-icn.png") no-repeat 28px 50px,
    url("images/desgin-bg.jpg") no-repeat;
}
#card3{
    background: url("images/concept-icn.png") no-repeat 28px 50px,
    url("images/concept-bg.jpg") no-repeat;
}
#card3:hover{
    background: url("images/concept-hover-icn.png") no-repeat 28px 50px,
    url("images/concept-bg.jpg") no-repeat;
}
#card4{
    background: url("images/systam-icn.png") no-repeat 28px 50px,
    url("images/systam-bg.jpg") no-repeat;
}
#card4:hover{
    background: url("images/systam-hover-icn.png") no-repeat 28px 50px,
    url("images/systam-bg.jpg") no-repeat;
}
/******** prices section *****/
section#prices{
    margin-left: auto;
    margin-right: auto;
    background-color: #ECECEC;
}
#prices h1{
    text-align: center;
    padding-top: 100px;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
    opacity: 0.9;
    font-family:Arial, Helvetica, sans-serif;
}
#prices p{
    color: #7a8192;
    text-align: center;
    margin: 20px 15px 25px;
}
#data{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 70px;
    width: 920px;
    height: 300px;
}
.features{
    background-color: #fff;
    display: flex;
    width: 920px;
    height: 90px;
    justify-content:space-around;
    align-items: center;
}
.features .first{
    background-color:#F68B01;
    color: #2D2D2D;
    height: 90px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.features .sec{
    color: #F68B01;
    background-color: #2D2D2D;
    height: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 10;
}
.features .mid{
    height: 90px;
    width: 120px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fff;
    color:#A4A7AE ;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}
.features .last{
    height: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #2D2D2D;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 5;
}
/******** contact section **************/
section#contact{
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    background: url("images/Contact-bg.jpg");
}
#contact h1{
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}
#contact p{
    color: #fff;
    opacity: 0.9;
    text-align: center;
    margin: 20px 15px 25px;
}
/********* footer *************/
footer{
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
}
#social{
    margin-top: 40px;
    padding-bottom: 70px;
    display: flex;
}
#cont{
    width: 400px;
    margin-top: 15px;
}
#cont h3{
    color: #F68B01;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.meth{
    width: 400px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
#cont p{
    color: #fff;
}
#cont span a{
    display: inline-block;
    padding-right: 20px;
    margin-top: 40px;
}
form{
    width: 450px;
    margin-right: 25px;
    padding-top: 5px;
}
form input, form textarea{
    width: 450px;
    box-sizing: border-box;
    margin-bottom: 18px;
    text-transform: uppercase;
    padding-left: 10px;
}
form input{
    height: 45px;
}
/****** copy section ******/
#copy{
    margin-left: auto;
    margin-right: auto;
    background: url("images/Contact-bg.jpg");
}
#copy p{
    text-align: center;
    color: #7a8192;
    font-weight: 600;
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}